/* Elements */

html {
	font-size: 100%;
}

body {
	background: url("../images/background.png");

	color: #FFFFFF;

	font-family: Calibri, Arial;
}

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

  font-family: "Yanone Kaffeesatz";
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

strong { font-weight: bold; }

header { margin: 3.125rem 0 1.563rem 0; }

header h5 {
	color: #999999;

	font-weight: 500;
}

footer {
	margin-top: 1.563rem;

	color: #999999;

	font-size: 0.75rem;
	text-align: right;
}

.content > div {
	padding: 0.938rem 1.875rem 0.938rem 1.875rem;

	width: 43.125rem;
}

#photos_slider img {
	padding: 0.625rem;

	max-width: 18.750rem;
	max-height: 14.063rem;

	border: 0.063rem solid #FFFFFF;
}

p {
	margin: 0 0 1.875rem 0;

	text-align: justify;
}

li.personal_informations_item label {
	background: #FFFFFF;

	color: #000000;

	float: left;

	margin: 0.125rem 0 0.125rem 0;
	padding: 0.5rem;

	width: 8rem;

	text-align: left;
	font-weight: bold;

	border-radius: 0.157rem;
	-moz-border-radius: 0.157rem;
	-webkit-border-radius: 0.157rem;
}

li.personal_informations_item span {
	float: right;

	margin: 0.125rem 0 0.125rem 0;
	padding: 0.5rem;

	text-align: right;
}

/* IDs */

#main {
	min-width: 62.500rem;
	max-width: 62.500rem;
}

#social {
	float: right;
	position: relative;

	top: 3.125rem;
}

#content {
	width: 100%;
	height: 32.5rem;
}

#navigation {
	background: #FFFFFF;

	float: left;

	width: 15.625rem;
	height: 100%;

  	font-family: "Yanone Kaffeesatz";
}

#photos_slider {
	width: 100%;

	text-align: center;
}

ul#menu {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

ul#personal_informations {
	margin: 0 0 1.875rem 0;
	padding: 0;

	list-style-type: none;
}

/* Classes */

.clear {
	clear: both;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.social_icon {
	margin: 0 0.313rem 0 0.313rem;

	height: 2rem;
	width: 2rem;
}

.first_social_icon { margin-left: 0; }
.last_social_icon { margin-right: 0; }

.content {
	color: #FFFFFF;

	float: left;

	width: 46.875rem;
	height: 100%;

	font-size: 0.75rem;
}

.active.bg_blue { background: #5CB9CA; }
.active.bg_dark_red { background: #7E3C48; }
.active.bg_dark_yellow { background: #CD9C53; }
.active.bg_green { background: #789B2E; }
.active.bg_orange { background: #D46A15; }

h2.subtitle { padding-bottom: 1.875rem; }

li.menu_item { height: 6.25rem; }

div.menu_item_block {
	padding: 1.25rem 0 1.25rem 1.25rem;

	color: #000000;
}

div.menu_item_block.active { color: #FFFFFF; }

div.menu_item_block i.fa {
	float: right;

  	padding: 0.625rem 0 0.938rem 0;

  	min-width: 3.75rem;

	border-left: solid 0.063rem #E2E2E2;

	font-size: 2rem;
	text-align: center;
}

span.menu_item_title,
span.menu_item_subtitle { display: block; }

span.menu_item_title { font-size: 1.5rem; }

span.menu_item_subtitle {
	color: #999999;

	font-size: 1rem;
}

div.menu_item_block.active span.menu_item_subtitle { color: #FFFFFF; }

div.left,
div.right {
	width: 20.313rem;
}

div.left { float: left; }
div.right { float: right; }