/* Elements */

html {
	font-size: 100%;
}

body {
	background: url("../images/background.png");

	color: #FFFFFF;

	font-family: Calibri, Arial;
}

a { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

  font-family: "Yanone Kaffeesatz";
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

strong { font-weight: bold; }

header { margin: 3.125rem 0 1.563rem 0; }

header h5 {
	color: #A9A9A9;

	font-weight: 500;
}

footer {
	margin-top: 1.563rem;

	color: #A9A9A9;

	font-size: 0.75rem;
	text-align: right;
}

.content > div {
	margin: 0.938rem 1.875rem 0.938rem 1.875rem;

	width: 43.125rem;
}

#photos_slider img {
	padding: 0.625rem;

	max-width: 18.750rem;
	max-height: 14.063rem;

	border: 0.063rem solid #FFFFFF;
}

p {
	margin: 0 0 1.875rem 0;

	text-align: justify;
}

ul {
	list-style: none;
}

li.personal_informations_item label,
li.skills_item label {
	margin: 0.125rem 0 0.125rem 0;
	padding: 0.5rem;

	width: 8rem;

	color: #000000;
}

li.skills_item label {
	text-align: center;
}

li.personal_informations_item label,
li.skills_item_left label {
	float: left;
}

li.skills_item_right label {
	float: right;
}

li.personal_informations_item span {
	float: right;

	margin: 0.125rem 0 0.125rem 0;
	padding: 0.5rem;

	text-align: right;
}

h6.company span,
h6.institution span,
h6.skill span {
	float: right;

	color: #FFFFFF;

	font-weight: bold;
}

ul.office li i span,
ul.formation li i span {
	margin-left: 0.313rem;

	font-family: Calibri, Arial;
}

/* IDs */

#main {
	min-width: 62.500rem;
	max-width: 62.500rem;
}

#social {
	float: right;
	position: relative;

	top: 3.125rem;
}

#content {
	width: 100%;
	height: 32.5rem;
}

#navigation {
	background: #FFFFFF;

	float: left;

	width: 15.625rem;
	height: 100%;

  	font-family: "Yanone Kaffeesatz";
}

#photos_slider {
	width: 100%;

	text-align: center;
}

#jobs,
#education,
#skills { margin-bottom: 1.875rem; }

p#alert_message {
	margin: 0;
	padding: 0.625rem;

	float: left;

	width: 37.500rem;
	height: 1rem;

	color: #A9A9A9;

	border: 0.063rem solid #A9A9A9;
}

/* Classes */

.clear {
	clear: both;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.social_icon {
	margin: 0 0.5rem 0 0.5rem;

	height: 1.5rem;
	width: 1.5rem;
}

.first_social_icon { margin-left: 0; }
.last_social_icon { margin-right: 0; }

.content {
	color: #FFFFFF;

	float: left;

	width: 46.875rem;
	height: 100%;

	font-size: 0.75rem;
}

.content::-webkit-scrollbar {
    width: 1rem;
}

.active.bg_blue { background: #5CB9CA; }
.active.bg_blue::-webkit-scrollbar-thumb { background-color: #6DCADB; }

.active.bg_dark_red { background: #7E3C48; }
.active.bg_dark_red::-webkit-scrollbar-thumb { background-color: #8F4D59; }

.active.bg_dark_yellow { background: #CD9C53; }
.active.bg_dark_yellow::-webkit-scrollbar-thumb { background-color: #DEAD64; }

.active.bg_green { background: #789B2E; }
.active.bg_green::-webkit-scrollbar-thumb { background-color: #89AC3F; }

.active.bg_orange { background: #D46A15; }
.active.bg_orange::-webkit-scrollbar-thumb { background-color: #E57B26; }

.scroll {
	overflow: auto;
}

h2.subtitle { margin-bottom: 1.875rem; }

li.menu_item { height: 6.25rem; }

div.menu_item_block {
	padding: 1.25rem 0 1.25rem 1.25rem;

	color: #000000;
}

div.menu_item_block.active { color: #FFFFFF; }

div.menu_item_block i.fa {
	float: right;

  	padding: 0.625rem 0 0.938rem 0;

  	min-width: 3.75rem;

	border-left: solid 0.063rem #E2E2E2;

	font-size: 2rem;
	text-align: center;
}

span.menu_item_title,
span.menu_item_subtitle { display: block; }

span.menu_item_title { font-size: 1.5rem; }

span.menu_item_subtitle {
	color: #A9A9A9;

	font-size: 1rem;
}

div.menu_item_block.active span.menu_item_subtitle { color: #FFFFFF; }

div.left,
div.right {
	margin-bottom: 0.938rem;

	width: 20.313rem;
}

.left { float: left; }
.right { float: right; }

h6.company,
h6.institution,
h6.skill {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;

	font-family: Calibri, Arial;

	font-size: 0.75rem;
}

h6.skill {
	display: inline-block;
}

p#alert_message.success_message {
	background: #CCFFCC;

	color: #00CC00;

	border: 0.063rem solid #00CC00;
}

p#alert_message.warning_message {
	background: #FFFFCC;

	color: #CCCC00;

	border: 0.063rem solid #CCCC00;
}

p#alert_message.fail_message {
	background: #FFCCCC;

	color: #FF0000;

	border: 0.063rem solid #FF0000;
}

/* Forms */

input[type="text"],
textarea,
#send_form_button {
	margin: 0 auto 0.750rem auto;
	padding: 0 0.313rem 0 0.313rem;

	color: #000000;

	border: 0.063rem solid #A9A9A9;

	font-family: Calibri, Arial;
	font-size: 0.625rem;
	font-weight: bold;
}

input[type="text"] {
	width: 99%;
	height: 2rem;
}

textarea {
	padding: 0.313rem;

	width: 99%;
	height: 6.250rem;

	resize: none;
}

#send_form_button {
	margin: 0;
	padding: 0.625rem;

	background-color: #FFFFFF;

	color: #A9A9A9;

	font-size: 0.75rem;

	cursor: pointer;
}

#send_form_button:hover { color: #000000; }

/* MIX */

ul#menu,
ul.office,
ul.formation {
	margin: 0;
	padding: 0;
}

ul#personal_informations,
ul.skills {
	margin: 0 0 1.875rem 0;
	padding: 0;
}

li.personal_informations_item label,
li.skills_item label,
p#alert_message {
	background: #FFFFFF;

	text-align: left;
	font-weight: bold;

	border-radius: 0.157rem;
	-moz-border-radius: 0.157rem;
	-webkit-border-radius: 0.157rem;
}

/* WebKit, Blink, Edge */

::-webkit-input-placeholder { color: #A9A9A9; }

/* Mozilla Firefox 4 to 18 */

:-moz-placeholder { color: #A9A9A9; opacity: 1; }

/* Mozilla Firefox 19+ */

::-moz-placeholder { color: #A9A9A9; opacity: 1; }

/* Internet Explorer 10-11 */

:-ms-input-placeholder { color: #A9A9A9; }